body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;  
    align-items: center;     

    background-color: rgb(205, 236, 240);

}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

/* Keep headings & text normal (left-aligned) */
h1, h2, p, ul {
    text-align: left;
}

/* Optional: center only the image */
img {
    display: block;
    margin: 0 auto;
}

/* Push footer to bottom (solving the issue with version 3 */
footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
}
